@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$backgroundColor: rgb(242, 247, 255);
$fontcolor: rgb(0, 61, 165);
$whitecolor: rgb(255, 255, 255);
$deep_blue: rgb(0, 61, 165);
$fontFamily_monserat_regular: Montserrat, Arial, sans-serif;